@use './variables' as *;
// Removes all innate margin and padding built-in
* {
    margin: 0;
    padding: 0;
}

// Removes hyperlink underlines and colours
a {
    text-decoration: none;
    color: inherit;
}

// Removes bulletpoints
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

// Keeps all content centred
.wrapper {
    padding-left: 20%;
    padding-right: 20%;
    align-self: center;
}

// Fonts
h1, h2, h3, h4 {
    font-family: $heading;
}

li, p, input, button, textarea {
    font-family: $body;
}

p {
    font-size: 12px;
    font-weight: 400;
}

// Added a little extra colour to the button's radii to make them look more like true buttons
button {
    box-shadow: inset 0px 1px 0px 0px #39b143;
        background-color: $green;
        border: 1px solid #175e23;
        border-radius: 2rem;
        display: inline-block;
        cursor: pointer;
        color: $white;
        padding: 8px 18px;
        font: 12px $body;
        font-weight: bold;
}

// The radii will disappear when hovered, giving the illusion of the button being pressed down
button:hover {
    background: linear-gradient(to bottom, #2da241 5%, #5bec8b 100%);
    background-color: #289e4b;
}

// Animation for the navbar and footer links
li:hover, li:focus {
    color: $green;
    transition: all 250ms ease-in-out;
    cursor: pointer;
    transform: scale(1.5);
}

// Javascript to change colours from green to red

.color-change-start {
    background: $red;
}

