@use './variables' as *;

// Small monitors
@media (max-width: 1280px) {


    .section2 {
        height: 200vh;
        .flex2, .flex3 {
            display: grid;
            grid-template-columns: 2fr 2fr;
            grid-gap: 2rem;
        }
    }
    .flex4 img, .flex5 img, .flex6 img {
        max-width: 200px;
    }

    .section4 {
        height: 100vh;
        .flex7 {
            flex-direction: column;
        }
    }

    .box {
        margin: 1% 0;
        display: flex;
        button {
            height: 3rem;
            margin: 4rem 0 0 0;
        }
        h4, p {
            margin: 3rem 0;
            padding: 0 3% 0 3%;
        }
    }
    .flex8 {
        display: flex;
        flex-wrap: wrap;
      }
      
      .flex8 > div {
        flex: 25%
    }
}

// Tablets and small desktops (940px)
@media (max-width: 1030px) {
    .wrapper {
        padding-left: 10%;
        padding-right: 10%;
        align-self: center;
    }
}

// Landscape phones, portrait tablets
@media (max-width: 768px) {
    .wrapper {
        padding-left: 5%;
        padding-right: 5%;
        align-self: center;
    }

    .flex4 img, .flex5 img, .flex6 img {
            max-width: 150px;
    }

    .box p {
        display: none;
    }

}

// Landscape phones and smaller (480px)
@media (max-width: 512px) {
    .section1 {
        height: 55vh;
    }

    .section2 {
        height: 200vh;
            p.centeredText {
            margin: 1rem 0 0 0;
            padding-bottom: 0;
            }
            h3.centeredText {
            margin: 8.5rem 0 0 0;
        }
    }

    .section3 button {
        margin: 0;
    }

    .section4 {
        height: 130vh;
    }
}