// Colour Palette
$green: #207200;
$white: #fff;
$black: #1A2428;
$red: #ff0000;

$heading: "Lora", serif;
$body: "Barlow", serif;

// Text Style Catalog (For those curious, I commented this out so you can read them)

// Main Heading Text (Providing Tasty…)
// font-family: 'Lora', serif;
// $Lora: 'Lora';
// font-weight: 900;

// Section heading (About Us, Our Products)
// Section sub-heading (Providing best organic products)
// $Lora: 'Lora';
// font-weight: 700;

// Product names (Mix Vegetables)
// $Lora: font-family: 'Lora', serif;
// font-weight: 600;

// Body text (lorem ipsum)
// $Barlow: font-family: 'Barlow', serif;
// font-weight: 400;

// Menu Items
// $Barlow: font-family: 'Barlow', serif;
// font-weight: 600;