html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  padding-left: 20%;
  padding-right: 20%;
  -ms-flex-item-align: center;
      align-self: center;
}

h1, h2, h3, h4 {
  font-family: "Lora", serif;
}

li, p, input, button, textarea {
  font-family: "Barlow", serif;
}

p {
  font-size: 12px;
  font-weight: 400;
}

button {
  -webkit-box-shadow: inset 0px 1px 0px 0px #39b143;
          box-shadow: inset 0px 1px 0px 0px #39b143;
  background-color: #207200;
  border: 1px solid #175e23;
  border-radius: 2rem;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  padding: 8px 18px;
  font: 12px "Barlow", serif;
  font-weight: bold;
}

button:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #2da241), to(#5bec8b));
  background: linear-gradient(to bottom, #2da241 5%, #5bec8b 100%);
  background-color: #289e4b;
}

li:hover, li:focus {
  color: #207200;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.section1 {
  height: 50vh;
}
.section1 h2 {
  padding: 1rem 0;
}
.section1 p {
  padding-top: 0;
}
.section1 .flex1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section1 .textResize2 {
  max-width: 400px;
  padding: 2rem 5rem 2rem 0;
}
.section1 .textResize2 p {
  margin-bottom: 0.5rem;
}
.section1 .textResize2 button {
  margin-top: 1.5rem;
}
.section1 .box {
  display: block;
  background-color: #629b4b;
  color: #fff;
  border-radius: 2rem;
  padding: 5rem 3rem 5rem 2rem;
}

.section2 .spaceResize, .section3 .spaceResize {
  padding: 0 27.5%;
}
.section2 .centeredText, .section3 .centeredText {
  text-align: center;
  padding: 1rem 0;
}
.section2 .centeredText button, .section3 .centeredText button {
  margin-top: 0rem;
  margin-bottom: 1rem;
}
.section2 p.centeredText, .section3 p.centeredText {
  padding: 0 0 2rem 0;
}

.section2 {
  height: 125vh;
}
.section2 .centeredText {
  text-align: center;
  padding: 1rem 0;
}
.section2 .centeredText button {
  margin-top: 0rem;
  margin-bottom: 1rem;
}

.flex2, .flex3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2rem 0;
}
.flex2 p, .flex3 p {
  max-width: 175px;
}
.flex2 img, .flex3 img {
  max-width: 175px;
  padding-bottom: 1rem;
}
.flex2 h4, .flex2 p, .flex3 h4, .flex3 p {
  padding-bottom: 1rem;
  padding-left: 1rem;
}
.flex2 button, .flex3 button {
  margin-left: 1rem;
  text-transform: capitalize;
}
.flex2 div, .flex3 div {
  border: 2px solid #f8f8f8;
}
.flex2 .price, .flex3 .price {
  color: #207200;
  font-weight: bold;
}

.flex3 {
  margin-bottom: 2rem;
}

.flex4 {
  text-align: center;
}
.flex4 img {
  max-width: 248.5px;
}

.flex5 {
  text-align: center;
}
.flex5 img {
  max-width: 375px;
}

.flex6 {
  text-align: center;
}
.flex6 img {
  max-width: 248.5px;
}

.section3 {
  background-image: url(../assets/grass.jpg);
  position: relative;
  background-size: cover;
  background-position: center;
  height: 110vh;
}
.section3 .centeredText {
  text-align: center;
  padding: 1rem 0;
}
.section3 button {
  text-transform: capitalize;
  margin: 0 0.5rem;
}

.section4 {
  background-color: #207200;
  height: 75vh;
}
.section4 p.centeredText, .section4 h3.centeredText {
  text-align: center;
  color: #fff;
}
.section4 p.centeredText {
  margin: 0 20% 5% 20%;
  text-align: center;
  color: #fff;
}
.section4 h3.centeredText {
  padding: 4rem 0 1rem 0;
}
.section4 button {
  text-transform: capitalize;
}
.section4 img {
  min-width: 205px;
  border-radius: 3px;
}
.section4 .flex7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 2rem;
}
.section4 .flex7 h4 {
  padding-top: 1rem;
}
.section4 .flex7 p {
  line-height: 1.5;
  padding: 1rem 0;
}
.section4 .flex7 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.section4 .box {
  background-color: #fff;
  padding: 1rem;
  border-radius: 3px;
}

.contactHeroImage {
  background-image: url(../assets/contact.jpg);
}

.section5 li:hover, .section5 li:focus {
  -webkit-transition: none;
  transition: none;
  -webkit-transform: none;
          transform: none;
}
.section5 .flex12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}
.section5 .box2 {
  border-left: 6px solid #207200;
}
.section5 .formStyle {
  max-width: 450px;
  background: #fafafa;
  padding: 30px 30px 50px 30px;
  margin: 50px auto;
  -webkit-box-shadow: 1px 1px 12.5px rgba(0, 0, 0, 0.35);
          box-shadow: 1px 1px 12.5px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
}
.section5 .formStyle ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.section5 .formStyle ul .centeredButton {
  text-align: center;
  margin: 2rem 0 0 0;
}
.section5 .formStyle ul li {
  display: block;
  margin-bottom: 10px;
  min-height: 50px;
}
.section5 .formStyle ul li .field-style {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px;
  outline: none;
  border: 1px solid #b0e0c2;
  border-radius: 5px;
}
.section5 .formStyle ul li .field-style:focus {
  -webkit-box-shadow: 0 0 5px #b0e0c2;
          box-shadow: 0 0 5px #b0e0c2;
  border: 1px solid #b0e0c2;
}
.section5 .formStyle ul li .field-split {
  width: 49%;
}
.section5 .formStyle ul li .field-full {
  width: 100%;
}
.section5 .formStyle ul li textarea {
  width: 100%;
  height: 100px;
}
.section5 .formStyle ul li input.align-left {
  float: left;
}
.section5 .formStyle ul li input.align-right {
  float: right;
}
.section5 .formStyle ul li input[type=button],
.section5 .formStyle ul li input[type=submit] {
  -webkit-box-shadow: inset 0px 1px 0px 0px #39b143;
          box-shadow: inset 0px 1px 0px 0px #39b143;
  background-color: #207200;
  border: 1px solid #175e23;
  border-radius: 2rem;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  padding: 8px 18px;
  font: 12px "Barlow", serif;
  font-weight: bold;
}
.section5 .formStyle ul li input[type=button]:hover,
.section5 .formStyle ul li input[type=submit]:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #2da241), to(#5bec8b));
  background: linear-gradient(to bottom, #2da241 5%, #5bec8b 100%);
  background-color: #289e4b;
}

p {
  line-height: 1.5rem;
}

img {
  max-width: 100px;
}

h3 {
  padding-bottom: 3rem;
}

button {
  padding: 0.5rem;
}

i {
  min-width: 12px;
}

li {
  padding: 0.5rem 0;
  text-transform: capitalize;
  font-weight: 400;
}

.flex8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5rem;
}

.flex9 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
  gap: 10px;
}

.flex10 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex11 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex11 p {
  font-weight: bold;
  color: #207200;
  margin-top: 0.5rem;
  margin-left: 1rem;
}
.flex11 h4 {
  font-size: 75%;
  margin-top: 1rem;
  margin-left: 1rem;
}
.flex11 img {
  padding-bottom: 1rem;
}

.heroImage {
  background-image: url(../assets/cow.png);
  position: relative;
  background-repeat: no-repeat;
  background-size: auto;
  height: 20vh;
  max-width: 1920px;
}
.heroImage p {
  text-align: center;
  position: absolute;
  top: 10rem;
  left: 50%;
  color: #fff;
}

.spaceResize2 p {
  margin: 0.5rem 0;
  max-width: 160px;
}

.spaceResize3 {
  margin: 0.5rem 0;
  max-width: 150px;
}

.spaceResize4 p {
  padding-bottom: 1rem;
  min-width: 120px;
}
.spaceResize4 p:hover, .spaceResize4 .spaceResize4 p:focus {
  color: #207200;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  cursor: pointer;
}

.field2 {
  -webkit-box-shadow: 1px 1px 12.5px rgba(0, 0, 0, 0.35);
          box-shadow: 1px 1px 12.5px rgba(0, 0, 0, 0.35);
}

.field-style {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px;
  outline: none;
  border: 1px solid #b0e0c2;
  border-radius: 5px;
}
.field-style ul li .field-style:focus {
  -webkit-box-shadow: 0 0 5px #b0e0c2;
          box-shadow: 0 0 5px #b0e0c2;
  border: 1px solid #b0e0c2;
}

header {
  background-image: url(../assets/header/background.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 85vh;
  max-width: 1920px;
}

nav {
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  width: 100%;
}
nav img {
  cursor: pointer;
}

.flex0 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

li {
  padding: 0 0.5rem;
  text-transform: uppercase;
  font-weight: 600;
}

button {
  text-transform: uppercase;
}

.papayaFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5rem 0;
}
.papayaFlex img {
  max-width: 75%;
}

.textResize {
  max-width: 500px;
}
.textResize p {
  padding: 1.5rem 0;
}

.contactHeroImage {
  height: 50vh;
}
.contactHeroImage h3 {
  color: #fff;
  font-size: 175%;
  font-weight: 600;
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 1280px) {
  .section2 {
    height: 200vh;
  }
  .section2 .flex2, .section2 .flex3 {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 2rem;
  }
  .flex4 img, .flex5 img, .flex6 img {
    max-width: 200px;
  }
  .section4 {
    height: 100vh;
  }
  .section4 .flex7 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .box {
    margin: 1% 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .box button {
    height: 3rem;
    margin: 4rem 0 0 0;
  }
  .box h4, .box p {
    margin: 3rem 0;
    padding: 0 3% 0 3%;
  }
  .flex8 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .flex8 > div {
    -webkit-box-flex: 25%;
        -ms-flex: 25%;
            flex: 25%;
  }
}
@media (max-width: 1030px) {
  .wrapper {
    padding-left: 10%;
    padding-right: 10%;
    -ms-flex-item-align: center;
        align-self: center;
  }
}
@media (max-width: 768px) {
  .wrapper {
    padding-left: 5%;
    padding-right: 5%;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .flex4 img, .flex5 img, .flex6 img {
    max-width: 150px;
  }
  .box p {
    display: none;
  }
}
@media (max-width: 512px) {
  .section1 {
    height: 55vh;
  }
  .section2 {
    height: 200vh;
  }
  .section2 p.centeredText {
    margin: 1rem 0 0 0;
    padding-bottom: 0;
  }
  .section2 h3.centeredText {
    margin: 8.5rem 0 0 0;
  }
  .section3 button {
    margin: 0;
  }
  .section4 {
    height: 130vh;
  }
}